.MyStores {
  .content {
    padding-top: 200px;

    .store-list {
      margin: 0 auto;
      width: 394px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .store {
        width: 136px;
        margin-bottom: 24px;

        &-image {
          height: 136px;
          width: 100%;
        }

        &-text {
          padding-top: 8px;
          text-align: center;
          width: 100%;
        }

        &-clickable {
          cursor: pointer;
        }
      }

    }
  }
}